{% extends "layout.html" %}

{% block selectors %}
<div class="labels">Hotels:</div>
<select id="hotelSelector">
	{% for hotel in all_hotels %}
<option>{{hotel.name}}</option>
	{% endfor %}
</select><div class = "circleButton smaller" id="hotelPlus" action="/post">+</div>
	<div class="labels">Restaurants:</div>
<select id = "restaurantSelector">
	{% for restaurant in all_restaurants %}
<option>{{restaurant.name}}</option>
	{% endfor %}
</select><div class = "circleButton smaller" id="restaurantPlus">+</div>
	<div class="labels">Things To Do:</div>
<select id = "thingSelector">
	{% for thingsToDo in all_things_to_do %}
<option>{{thingsToDo.name}}</option>
	{% endfor %}
</select><div class = "circleButton smaller" id="thingPlus">+</div>

{% endblock %}

{% block calendar %}
<div class="boxHeader"><div class = "sticker">Day 1</div><div class="circleButton">1</div><div class="circleButton">2</div><div class="circleButton">3</div><div class="circleButton">+</div></div>
<div class="boxContents">
<div class="labels">My Hotel</div>
{{selectedHotel}} <div class = "circleButton smaller">x</div>
<div class="labels">My Restaurants</div>
{{selectedRestaurant}}<div class = "circleButton smaller">x</div>
<div class="labels">My Things To Do</div>
{{selectedThing}} <div class = "circleButton smaller">x</div>
</div>

{% endblock %}